fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
alembic
psycopg2-binary
redis
httpx
pybreaker
slowapi
python-jose[cryptography]
passlib[bcrypt]
reportlab
python-multipart
celery
email-validator
groq==0.11.0
beautifulsoup4==4.12.3
lxml==5.2.2
qdrant-client==1.9.1
numpy==1.26.4
